* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link__activ {
  color: #060317;
  border-bottom: 2px solid #ff8901;
  font-weight: 600;
}
.logo {
}
.header__menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 48px;
}
.header__menu__item {
}
.header__btn {
  padding: 16px 20px;
  border: 1.5px solid #ff8901;
  background-color: transparent;
  font-size: 16px;
  line-height: 16px;
  color: #ff8901;
}

.header__link {
  text-decoration: none;
  color: #888599;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.icon {
  display: none;
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
  .header__btn {
    display: none;
  }

  .icon {
    display: block;
    width: 20px;
  }
}

.hero {
  background-image: url("./Hero\ Image\ 01.png"), url("./hero\ img\ 02.png");
  min-height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-size: 360px 510px;
  background-position: left center, right center;
  padding: 100px;
}

.hero__title {
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  max-width: 616px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
.hero__result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-top: 90px;
}
.hero__review {
}
.hero__people {
}

.hero__text {
  max-width: 555px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 26px;
  color: #888599;
  text-align: center;
}

@media (max-width: 368px) {
  .header__menu {
    display: none;
  }
  .header__btn {
    display: none;
  }

  .icon {
    display: block;
    width: 20px;
  }

  .hero {
    background-image: url("./Hero\ Image\ 01.png"), url("./hero\ img\ 02.png");
    min-height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: left center, right center;
    padding-top: 10px;
  }

  .hero__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    max-width: 616px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
  }

  .hero__text {
    max-width: 555px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 16px;
    color: #888599;
    text-align: center;
  }

  .hero-logo {
    width: 100px;
    height: 30px;
  }

  .hero__result {
    display: block;
    padding-left: 43px;
    padding-top: 5px;
  }

  .review__text {
    font-size: 16px;
  }

  .hero__people {
    padding-top: 30px;
  }
}
